{% extends 'PlentyPluginShowcase::HtmlStructure' %}

        {% block MainFrame %}
            <div class="plugin-opener row">
                <div class="claim">
                    <div class="container">
                        <div class="col-sm-12">
                            <h1 data-link="ignore">Turbocharging your e-commerce with plentymarkets plugins</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="connect">
                <div class="container">
                    <div class="btn btn-secondary btn-block">
                        <a href="/dev-doc/overview" role="button">start developing now</a>
                    </div>
                </div>
            </div>
            <div class="hr hr-arrow"></div>
            <section>
                <div class="container mb-3">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
                        <figure>
                            <img class="img-responsive" src="{{ plugin_path('PlentyPluginShowcase') }}/images/why-plugin-2.svg" alt="plentymarkets logo consisting of puzzle pieces" style="max-height: 200px;" />
                        </figure>
                        <h2 data-link="ignore">Be a plugin pioneer</h2>
                        <p class="text-jst">
                            Learn how to create your first plentymarkets plugin. Our <a href="/helloworld">Hello World</a> tutorial for beginners will walk you through the basics of setting up an IDE and Git and creating all necessary files for your first fully functional plugin. Start now - develop your own plugins and offer them to our customers in our plugin store.
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
                        <figure>
                            <img class="img-responsive" src="{{ plugin_path('PlentyPluginShowcase') }}/images/plugin_customizable.svg" alt="customized online-shop on different devices" style="max-height: 200px;" />
                        </figure>
                        <h2 data-link="ignore">Make your customers happy</h2>
                        <p class="text-jst">
                            Provide your plentymarkets customers with individualised service and develop plugins tailored to their needs. Find out about the most wanted plugins in our <a href="https://forum.plentymarkets.com/c/plugin-entwicklung" target="_blank">plentyCommunity</a>. The technology we chose makes plugins compatible for all users. This means you can offer any plugins that you develop to a broad audience in our store.
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
                        <figure>
                            <img class="img-responsive" src="{{ plugin_path('PlentyPluginShowcase') }}/images/plugin_store.svg" alt="online-plugin-store" style="max-height: 200px;" />
                        </figure>
                        <h2 data-link="ignore">Optimise your business</h2>
                        <p class="text-jst">
                            Discover new plugins in our plugin store. Find beautifully designed templates and themes. Plugins give you complete flexibility when it comes to optimising your business. Regardless whether you develop plugins in-house or hire an agency to build them for you – there are no limits to the functionality of your software. Modify plentymarkets to meet your needs!
                        </p>
                    </div>
                </div>
            </section>

            <div id="carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="carousel-caption">
                            <figure>
                            <img src="{{ plugin_path('PlentyPluginShowcase') }}/images/plentydays.png" alt="plentydays september 2016 logo" />
                            </figure>
                            <div class="item-inner">
                                <p>
                                Learn more about plentymarkets plugins and your opportunities - <b>come to Kassel and join us at the first plentyCodeCamp on September 8th and 9th!</b>
                                </p>
                                <p>
                                Day 1 features a range of lectures that introduce plentymarkets plugins in general. Get an overview of our plugin technologies, different plugin types and the overall plugin structure.
                                </p>
                                <p>
                                Day 2 is specifically aimed at coders and developers. We will show you how to build a plentymarkets plugin from scratch. Meet us there and become a plugin pioneer!
                                </p>
                                <p>
                                This plentymarkets event is free. Head over to Xing and get your ticket now.
                                <p>
                                <a class="btn btn-secondary btn-large" href="https://www.xing-events.com/plentycodecamp.html" target="_blank"><span>Registration</span><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <section>
                <div id="feat">
                    <div class="container mb-3">
                        <div class="col-lg-12 text-center">
                            <h2 class="text-center" data-link="ignore">Features</h2>
                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center">
                                <figure class="image-box">
                                    <a href="https://laravel.com/" target="_blank">
                                    <img class="img-responsive" src="{{ plugin_path('PlentyPluginShowcase') }}/images/laravel-logo.png" alt="laravel logo" />
                                    </a>
                                </figure>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center">
                                <figure class="image-box">
                                    <a href="http://hacklang.org/" target="_blank">
                                        <img class="img-responsive" src="{{ plugin_path('PlentyPluginShowcase') }}/images/hack-logo.png" alt="hack logo" />
                                    </a>
                                </figure>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center">
                                <figure class="image-box">
                                    <a href="http://twig.sensiolabs.org/" target="_blank">
                                        <img class="img-responsive" src="{{ plugin_path('PlentyPluginShowcase') }}/images/twig-logo.png" alt="twig logo" />
                                    </a>
                                </figure>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center">
                                <figure class="image-box">
                                    <a href="http://sass-lang.com/" target="_blank">
                                        <img class="img-responsive" src="{{ plugin_path('PlentyPluginShowcase') }}/images/sass-logo.png" alt="sass logo" />
                                    </a>
                                </figure>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center">
                                <figure class="image-box">
                                    <a href="https://git-scm.com/" target="_blank">
                                        <img class="img-responsive" src="{{ plugin_path('PlentyPluginShowcase') }}/images/git-logo.png" alt="git logo" />
                                    </a>
                                </figure>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center">
                                <figure class="image-box">
                                    <a href="http://plentymarkets.eu/" target="_blank">
                                        <img class="img-responsive" src="{{ plugin_path('PlentyPluginShowcase') }}/images/plentymarkets.png" alt="plentymarkets logo" />
                                    </a>
                                </figure>
                            </div>
                        </div>
                            <div class="col-lg-6 col-md-6">
                                <h3 data-link="ignore" class="color-blue">Why we use hack</h3>
                                <p>
                                    Hack, a programming language for HHVM, reconsiles the fast development cycle of dynamic typing with the discipline provided by static typing, while adding many features found in modern programming languages. Anyone who already knows how to program in PHP will easily be able to learn Hack as well.
                                </p>
                                <p>
                                    About 80% of all websites use PHP as their server language. However, many developers criticise PHP's dynamic typing because it increases error susceptibility and decreases execution speed. Hack completely compensates this deficit of PHP.
                                </p>

                            </div>
                            <div class="col-lg-6 col-md-6">
                                <h3 data-link="ignore" class="color-blue">What exactly is Twig?</h3>
                                <p>
                                    Twig is a modern template engine for PHP and it is compatible with HHVM. Thanks to it's syntax, Twig can be learned quite easily and still offers a lot of flexibility. One of Twig's goals is to be as fast as possible. In order to reach this goal, Twig templates are compiled into optimised PHP source code.
                                </p>
                                <p>
                                    Twig has all the characteristics that you need to create powerful store templates: it supports multiple inheritance and allows you to add your own functions and filters to the existing functionalities.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        {% endblock %}
